{% extends "network/layout.html" %}

{% block body %}
    <div style="display: none;" id="feed"><h1>Feed</h1></div>

    <!--DIV THAT DISPLAYS USER INFO-->
    <div style="display: none;"  id="userinfo"></div>

    <!--DIV FOR NEW POST-->
    <div id="newpost">
        <form id="postform" method="post">
            {% csrf_token %}
            <div style="width: 100%;">
                <textarea name="" id="postdata" class="form-control" style="min-width: 30rem;"></textarea>
                <button type="submit" class="btn btn-outline-secondary">Spit fire?</button>
            </div>

        </form>
    </div>

    <!--DIV THAT HOLDS POSTS-->
    <div id="subbody"> 
        <div id="postscontainer"></div>
        
        <input type="hidden" id="batch" value=0> 
    </div>
   
    

    
   
{% endblock %}