body{
    padding: 10px;
   
}

*{
    box-sizing: border-box;
}
/* Related to posts */
.postarea{
    
    margin: 2px 0;
    background-color: #eeeeee0f;
    border: 2px solid grey;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
}
    
.user{
    text-align: left;
    width: 50%;
    text-align:left;
    font-size: 13px;
    background-color: #dddddd;
    
}

#headerdiv{
    display: flex;
    background-color: #dddddd;
}

.posttime{
    
    background-color:#dddddd;
    width: 50%;
    text-align:right;
    font-size: 13px;
}

.page{
    padding: 10px;
}

#posts-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#postscontainer{
    display: flex;
    flex-direction: column;
}

.fright{
    float:right;
}

.ib{
    display: inline-block !important;
}

.heart-button{
    border-style: none;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 0;
    color: grey;
    background-color: #eeeeee0f;
    text-align: right;
}

.material-symbols-outlined{
    background-color: #eeeeee0f;
}

#postdata{
    height: 8rem; 
    width: 40%;
    resize: none;
    margin-bottom: 3px;
}

#newpost{
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    justify-content: center;
    align-items: center;

}

.buttondiv{
    display: flex;
    align-items: center;
}
/* Related to user profile display */
#userinfo{
    padding-top: 2rem;
    min-height: 15rem;
    display: flex;
    justify-content: center;

}

#iconcontainer{

    width: 50%;
    padding-right: 2rem;
}

#icon {
    font-weight: 100;
    font-size: 100px;
}

#namediv{
    width: 50%;
    margin-left: 5px;
    font-weight: 500;
    margin-bottom: 13px;
    margin-right: 10rem;
}

#userprofname{
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 3px;
    
}


#followbutton{
    width: 6rem;
    margin-right: 5px;
    text-align: center;
}

/* editing posts */
.replaceform{
    margin: 5px 5px 3px 0px;
}

pre{
    width: 100%;
    overflow: auto;
    margin-bottom: 3px;
}

#feed{
    margin-left: 25%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}